#left {
    float: left;
}
#right {
    float: right;
}
#x1 {
    color: blue;
    font-weight: bold;
    position: absolute;
    left: 100px;
    top: 270px;
}
#x2 {
    color: blue;
    font-weight: bold;
    position: absolute;
    left: 370px;
    top: 270px;
}
#x3 {
    color: blue;
    font-weight: bold;
    position: absolute;
    left: 380px;
    top: 450px;
}
#x4 {
    color: blue;
    font-weight: bold;
    position: absolute;
    left: 650px;
    top: 230px;
}
#x5 {
    color: blue;
    font-weight: bold;
    position: absolute;
    left: 600px;
    top: 360px;
}